extends ./../app
block content
	
	table#tDaily.ui.celled.table
		thead
			tr
				th Mesa
				th Entradas
				th Segundos
				th Guarniciones
				th Postres
				th Piqueos
		tbody
			
		script(type='text/javascript' src='scripts/summary.js')
